/* Positionne le header */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    /* hauteur de l'en-tête */
}

/* Bouton hamburger en haut à droite */
#menu-toggle {
    all: unset;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

.errorIngredient {
    margin-top: 30rem;
    color: #f7dbaf;
    font-size: 1.5rem;
}

#logo {
    width: 80px;
    height: 80px;
}

#menu-toggle svg {
    width: 32px;
    height: 32px;
    display: block;
}

/* Masquer le menu par défaut */
.hidden {
    display: none;

}

/* Afficher les liens à droite sous le bouton */
#nav-menu {
    position: absolute;
    top: 50px;
    /* un peu en dessous du bouton */
    right: 10px;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
}

#nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#nav-menu li {
    margin-bottom: 10px;
}

#nav-menu a {
    text-decoration: none;
    color: #db1906;
}
#aboutUs, #menuFrida {
    display: none;
}
body {
    background-image: url("/img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #db1906;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


#homePage h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 400px;
    background-color: #rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    align-items: center;
}

#userInput {
    padding: 20px 40px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #000000;
    color: #f7dbaf;
    box-shadow: 0 0 12px #db1906, 0 0 24px #000000;
    text-shadow: 0 0 5px #db1906;
    border-radius: 12px;
}

#submitBtn {
    color: #f7dbaf;
    padding: 0.4em 0.4em;
    font-size: 17px;
    font-weight: 200;
    border-radius: 0.5em;
    background: linear-gradient(360deg, #87000d, #db1906);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 12px #db1906, 0 0 24px #000000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#submitBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px #db1906, 0 0 32px #00ffff;
}

#submitBtn:active {
    transform: scale(0.97);
    box-shadow: 0 0 8px #db1906, 0 0 16px #00ffff;
}

#cocktailContainer {
    margin-top: 400px;
    align-items: center;
    text-align: center;

}

.eachResultat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 15rem auto;
    width: 55%;
    box-shadow: 0 0 40px #db1906, 0 0 40px #000000;
}

.imgCocktail {
    display: flex;
    gap: 2rem;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.cocktailImage {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 8px #db1906, 0 0 16px #a8b7b7;
}

.textContainer {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContainer h2 {
    margin-top: 0;
    font-size: 2rem;
    color: #db1906;
}

.textContainer p {
    font-size: 1rem;
    color: #f7dbaf;
}

.ingredientList {
    margin-top: 1rem;
    padding-left: 1rem;
    color: #f7dbaf;
    text-align: center;
}

#legalNotice {
    color: rgba(255, 0, 0, 0.0.1);
    position: fixed;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#ageChecking {
    position: fixed;
    inset: 0;
    background: rgba(255,0,0,0.4);
    display : flex;
    justify-content: center;
    align-items: center;
}

#form2 {
    flex: 0 0 auto;
    width: 45%;
    height: 20%;
    
    background-color: rgba(0,0,0,0.4)
}


/*
  div ageChecking
  form :
  id="form2"
  
  bouton :
  id="submitAgeBtn"

  inputs :
  class="ageInputs" id="month"
  class="ageInputs" id="day"
  class="ageInputs" id="year" 

  */
  }

 
